<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}NASA Natural Events Tracker{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="brand">
            <img
                src="{{ url_for('static', filename='images/images.png') }}"
                alt="NASA logo"
                class="nav-logo"
            >

            <span>Natural Events Tracker</span>
        </a>

        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('browse') }}">Browse Events</a>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>
            Natural event data provided by NASA EONET.
        </p>

        <p>
            Programming 1 Final Project
        </p>
    </footer>

</body>
</html>